<h1>Managers</h1>


<table>
  <thead>
    <tr>
    
    <th>Serial no   </th>
    <th>Employee_id</th>
      <th>Name</th>
      <th>City name</th>
      <th>Subordinate count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
  
    <% @manager.each_with_index do |manager, i| %>
      <tr>
        <td><%= (@page_no.to_i - 1) * 5 + i + 1 %></td>
        <td><%= manager.id %></td>
        <td><%= link_to manager.name, employee_path(manager) %></td>
        <td><%= manager.city.name %></td>
       <td><%= @manager_sub_count[manager.id] %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<%= will_paginate @manager %>
<br/>

<%= link_to 'All Employees', employees_path %>
<%= link_to 'All Cities', cities_path %>